.mat-card-game{
  border: 1px solid #CFD8DC;
  border-radius: 4px 3px 6px / 2px 4px;
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 0%;
  margin: 5px;
}

.mat-card-title-game{
  padding-left: 10px;
  padding-top: 0px;
  padding-right: 15px;
  margin-bottom: 0px;
  min-height: 70px;
}

.mat-card-title-game mat-toolbar {
  border-radius: 8px;  /* Ajuste este valor conforme necessário */
}

.loading-spinner {
  padding: 20px;
  background: rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-config {
  height: 200px;
  object-fit: cover;
  width: 300px;
  border:2px solid #3f51b5;
  margin: 4px;
}

.description-container {
  max-height: 100px; /* ou ajuste conforme necessário */
  overflow: hidden;
}

.description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3; /* ou ajuste conforme necessário para o número desejado de linhas */
  max-height: 3em;
  overflow: auto;
}
