<mat-tab-group style="padding-top: 40px; padding-left: 2%; padding-right: 2%">
  <mat-tab label="Games">
    <div fxLayout="row wrap" fxLayoutAlign="start center" style="padding: 2%">
      <ng-container *ngFor="let game of games | async" style="margin: 0.5%">
        <mat-card
          class="mat-card-game"
          fxFlex="0 1 calc(33.3% - 11px)"
          fxFlex.lt-md="0 1 calc(50% - 11px)"
          fxFlex.lt-sm="100%"
        >
          <mat-card-title class="mat-card-title-game">
            <div class="row">
              <p>
                <mat-toolbar color="primary">
                  <span
                    style="font-size: 0.9rem"
                    fxFlex="70"
                    fxLayoutAlign="start center"
                    >{{ game.name }}</span
                  >
                  <span fxFlex></span>
                  <span
                    style="font-size: 0.8rem"
                    fxFlex="25"
                    fxLayoutAlign="end center"
                    >{{ game.year }}</span
                  >
                </mat-toolbar>
              </p>

              <p
                style="font-size: 0.8rem; margin-bottom: 0px; padding-left: 8px"
              >
                <span>Categoria: {{ game.category }} </span>
              </p>
              <p style="font-size: 0.8rem">
                <span style="padding-left: 8px"
                  >Plataforma: {{ game.platforms }}
                </span>
                <img
                  src="{{ game.img }}"
                  alt="{{ game.name }}"
                  style="max-width: 100%; max-height: 100%"
                />
              </p>
            </div>
          </mat-card-title>

          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct
              spitz breeds of dog from Japan. A small, agile dog that copes very
              well with mountainous terrain, the Shiba Inu was originally bred
              for hunting.
            </p>
          </mat-card-content>
        </mat-card>
      </ng-container>
    </div>
  </mat-tab>
</mat-tab-group>
