<mat-tab-group style="padding-top: 40px; padding-left: 2%; padding-right: 2%">
  <mat-tab label="Games">
    <ng-template #loading>
      <div class="loading-spinner">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>

    <div *ngIf="games$ | async as games; else loading">
      <div fxLayout="row wrap" fxLayoutAlign="start center" style="padding: 2%">
        <ng-container *ngFor="let game of games" style="margin: 0.5%">
          <mat-card class="mat-card-game"
            fxFlex="0 1 calc(33.3% - 11px)"
            fxFlex.lt-md="0 1 calc(50% - 11px)"
            fxFlex.lt-sm="100%">
            <mat-card-title class="mat-card-title-game">
              <div class="row">
                <p>
                  <mat-toolbar color="primary">
                    <span
                      style="font-size: 0.9rem"
                      fxFlex="70"
                      fxLayoutAlign="start center"
                      >{{ game.name }}</span
                    >
                    <span fxFlex></span>
                    <span
                      style="font-size: 0.8rem"
                      fxFlex="25"
                      fxLayoutAlign="end center"
                      >{{ game.releaseYear }}</span
                    >
                  </mat-toolbar>
                </p>

                <p
                  style="
                    font-size: 0.8rem;
                    margin-bottom: 0px;
                    padding-left: 8px;
                  "
                >
                  <span>
                    Categoria: {{ game.category }}
                    <mat-icon aria-hidden="false" aria-label="Game Category">{{ game.category | category }}</mat-icon>
                  </span>
                </p>
                <p style="font-size: 0.8rem">
                  <span style="padding-left: 8px"
                    >Plataforma: {{ game.platforms }}
                  </span>
                  <img class="img-config"
                    src="{{ game.img }}"
                    alt="{{ game.name }}"
                    style="display:inline-block;"
                  />
                </p>
              </div>
            </mat-card-title>

            <mat-card-content>
              <div class="description-container">
                <div class="description">
                  <p class="description">
                    {{ game.description }}
                  </p>
                </div>
              </div>
            </mat-card-content>
            <mat-card-actions>
              <button mat-icon-button color="primary">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-card-actions>
          </mat-card>
        </ng-container>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
